target
*.plb
*.piv
.VSCodeCounter
*.ll
*.out
*.ilk
*.exe
*.pdb

test.cpp
*.bc
.idea
*.o
*.plist
out.*
*.html
*.asm
*out
*.dSYM
*.dot
dots
*testfile
.DS_Store
!7zr.exe
*.info

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.a
*.dylib
*.s
test.c
test.bash
.cmake
.vscode/c_cpp_properties.json
build/build.ninja
*.proj*
*.vcxproj*
*.sln
*.dir
Debug
Release
kagari/test_dir
planglib/thirdparty
