[package]
name = "pivot-lang"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
inkwell = { git = "https://github.com/TheDan64/inkwell", branch = "master", features = ["llvm14-0"] }
lazy_static = "1.4.0"
paste = "1.0"
llvm-sys = "140"
internal_macro = { path = "./internal_macro" }
vm = { path = "./vm", optional = true }
nom_locate = "4.0.0"
as-any = "0.3.0"
clap = { version = "3.2.22", features = ["derive"] }
[dependencies.nom]
version = "7"
features = ["alloc"]

[features]
default = ["jit"]
jit = ["vm"]

[[bin]]
name = "plc"
path = "src/main.rs"
