[package]
name = "vm"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
internal_macro = { path = "../internal_macro",default-features = false }
libc = "0.2"
rand = "0.8"

[lib]
name = "vm"
path = "src/lib.rs"
crate-type = ["staticlib", "lib"]

[features]
default = ["static"]
jit = ["internal_macro/jit"]
static = ["internal_macro/static"]
