name: release
on:
  push:
    branches:
      - master
      - release/*

env:
  RUSTFLAGS: -Dwarnings

jobs:
  artifacts:
    name: Artifacts
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        config:
          - os: "macOS-latest"
            dir: osx64
            arch: darwin-arm64
            artifacts: "plc"
            RUSTFLAGS: "-Dwarnings"
          - os: "ubuntu-latest"
            dir: linux64
            debdir: pivot-lang_0.1.0-1_amd64
            artifacts: "plc"
            arch: linux-amd64
            RUSTFLAGS: "-Dwarnings"
          # - os: "windows-latest"
          #   dir: win64
          #   artifacts: "plc.exe"
          #   RUSTFLAGS: "-Dwarnings -Ctarget-feature=+crt-static"
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup | Rust
        uses: ATiltedTree/setup-rust@v1
        with:
          rust-version: "1.62.1"

      - uses: actions/cache@v3
        name: Cache Cargo
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Cache LLVM and Clang
        id: cache-llvm
        uses: actions/cache@v2
        with:
          path: ${{ runner.temp }}/llvm
          key: llvm-14
      - name: Install LLVM and Clang
        if: ${{ matrix.config.os != 'windows-latest' }}
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "14"
          directory: ${{ runner.temp }}/llvm
          cached: ${{ steps.cache-llvm.outputs.cache-hit }}
      
      - name: set up win scoop
        if: ${{ matrix.config.os == 'windows-latest' }}
        uses: MinoruSekine/setup-scoop@main

      - name: Install LLVM and Clang win
        if: ${{ matrix.config.os == 'windows-latest' }}
        run: |
          scoop install 7zip
          scoop install wget
          wget https://github.com/Pivot-Studio/pivot-lang/releases/download/llvm-windows-latest/llvm-14.0.6-windows-x64-msvc17.7z
          7z x .\llvm-14.0.6-windows-x64-msvc17.7z -y -o${{ runner.temp }}\llvm
          [Environment]::SetEnvironmentVariable(
            "Path",
            [Environment]::GetEnvironmentVariable("Path", "User") + ";${{ runner.temp }}\llvm\bin",
            "User"
          )
          [Environment]::SetEnvironmentVariable('LLVM_SYS_140_PREFIX', '${{ runner.temp }}\llvm', 'User')
  
      - uses: ilammy/msvc-dev-cmd@v1
        if: ${{ matrix.config.os == 'windows-latest' }}
        with:
          arch: x64
          vs_version: 2022
      - name: Cargo build win
        if: ${{ matrix.config.os == 'windows-latest' }}
        env:
          RUSTFLAGS: ${{ matrix.config.RUSTFLAGS }}
          LLVM_SYS_140_PREFIX: ${{ runner.temp }}\llvm
        run: cargo build --release --verbose

      - name: Cargo build
        if: ${{ matrix.config.os != 'windows-latest' }}
        env:
          RUSTFLAGS: ${{ matrix.config.RUSTFLAGS }}
          LLVM_SYS_140_PREFIX: ${{ runner.temp }}/llvm
        run: cargo build --release

      - name: Cargo build vm
        if: ${{ matrix.config.os != 'windows-latest' }}
        env:
          RUSTFLAGS: ${{ matrix.config.RUSTFLAGS }}
          LLVM_SYS_140_PREFIX: ${{ runner.temp }}/llvm
        run: cd vm && cargo build --release

      - run: mkdir -p ${{ matrix.config.dir }}

      - name: Move artifacts
        env:
          ARTIFACTS: ${{ matrix.config.artifacts }}
          OUT_DIR: ${{ matrix.config.dir }}
          OS: ${{ matrix.config.os }}
        run: |
          import os
          artifacts = os.environ['ARTIFACTS'].split()
          for artifact in artifacts:
            src = "target/release/%s" % artifact
            dst = os.environ['OUT_DIR'] + "/" + artifact
            os.rename(src, dst)
        shell: python

      - name: Move artifacts
        env:
          ARTIFACTS: libvm.a
          OUT_DIR: ${{ matrix.config.dir }}
          OS: ${{ matrix.config.os }}
        run: |
          import os
          artifacts = os.environ['ARTIFACTS'].split()
          for artifact in artifacts:
            src = "target/release/%s" % artifact
            dst = os.environ['OUT_DIR'] + "/" + artifact
            os.rename(src, dst)
        shell: python
      - name: Move lib
        env:
          ARTIFACTS: planglib
          OUT_DIR: ${{ matrix.config.dir }}
          OS: ${{ matrix.config.os }}
        run: |
          import os
          artifacts = os.environ['ARTIFACTS'].split()
          for artifact in artifacts:
            src = "%s" % artifact
            dst = os.environ['OUT_DIR'] + "/" + artifact
            os.rename(src, dst)
        shell: python
      - name: prepare deb
        if: ${{ matrix.config.os == 'ubuntu-latest' }}
        run: |
          mkdir -p ${{ matrix.config.debdir }}
          cp -r deb/* ${{ matrix.config.debdir }}/
          rm ${{ matrix.config.debdir }}/apt.yaml
          cp book/nginx.conf nginx.conf
          cp book/Dockerfile Dockerfile
          ls ${{ matrix.config.debdir }}/
          chmod +x ${{ matrix.config.debdir }}/DEBIAN/postinst
          mkdir -p ${{ matrix.config.debdir }}/usr/bin
          cp ${{ matrix.config.dir }}/plc ${{ matrix.config.debdir }}/usr/bin
          mkdir -p ${{ matrix.config.debdir }}/pl
          cp -r ${{ matrix.config.dir }}/* ${{ matrix.config.debdir }}/pl
          rm ${{ matrix.config.debdir }}/pl/plc
      - uses: Pivot-Studio/build-deb-action@master
        if: ${{ matrix.config.os == 'ubuntu-latest' }}
        id: build-deb
        with:
          package: pivot-lang
          package_root: ${{ matrix.config.debdir }}
          maintainer: Chronos <1769712655@qq.com>
          version: 0.1.${{ github.run_number }} # refs/tags/v*.*.*
          arch: 'amd64'
          desc: 'pivot-lang compiler'
      - name: move deb
        if: ${{ matrix.config.os == 'ubuntu-latest' }}
        run: |
          cp ${{ steps.build-deb.outputs.file_name }} ${{ matrix.config.dir }}/
      - name: Update apt repo
        if: ${{ matrix.config.os == 'ubuntu-latest' }}
        uses: Pivot-Studio/apt-repo-action@master
        with:
          github_token: ${{ secrets.PAT }}
          repo_supported_arch: |
            amd64
          repo_supported_version: |
            jammy
            focal
          file: ${{ steps.build-deb.outputs.file_name }}
          file_target_version: jammy
          public_key: ${{ secrets.PUBLIC }}
          private_key: ${{ secrets.PRIVATE }}
          key_passphrase: ${{ secrets.SECRET }}
          page_branch: master
          github_repository: Pivot-Studio/apt-repo

      - name: Update apt repo
        if: ${{ matrix.config.os == 'ubuntu-latest' }}
        uses: Pivot-Studio/apt-repo-action@master
        with:
          github_token: ${{ secrets.PAT }}
          repo_supported_arch: |
            amd64
          repo_supported_version: |
            jammy
            focal
          file: ${{ steps.build-deb.outputs.file_name }}
          file_target_version: focal
          public_key: ${{ secrets.PUBLIC }}
          private_key: ${{ secrets.PRIVATE }}
          key_passphrase: ${{ secrets.SECRET }}
          page_branch: master
          github_repository: Pivot-Studio/apt-repo
      - name: tar artifacts
        if: ${{ matrix.config.os != 'windows-latest' }}
        env:
          OUT_DIR: ${{ matrix.config.dir }}
          OS: ${{ matrix.config.os }}
        run: |
          import os
          src = os.environ['OUT_DIR']
          dst = "pivot-lang-0.1.${{ github.run_number }}-${{ matrix.config.arch }}.tar.gz"
          os.system("tar -czvf %s %s" % (dst, src))
        shell: python
      - name: Set outputs
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - uses: ncipollo/release-action@v1
        name: upload
        with:
          artifacts: "pivot-lang-0.1.${{ github.run_number }}-${{ matrix.config.arch }}.tar.gz"
          allowUpdates: true
          replacesArtifacts: false
          commit: master
          tag: v0.1.${{ github.run_number }}

      - name: Release my project to my Homebrew tap
        if: ${{ matrix.config.os == 'ubuntu-latest' }}
        uses: Pivot-Studio/homebrew-releaser@main
        with:
          # The name of the homebrew tap to publish your formula to as it appears on GitHub.
          # Required - strings.
          homebrew_owner: Pivot-Studio
          homebrew_tap: homebrew-tap

          # The name of the folder in your homebrew tap where formula will be committed to.
          # Default is shown - string.
          # formula_folder: pivot-lang

          # The GitHub Token (saved as a repo secret) that has `repo` permissions for the homebrew tap you want to release to.
          # Required - string.
          github_token: ${{ secrets.PAT }}

          # Git author info used to commit to the homebrew tap.
          # Defaults are shown - strings.
          commit_owner: pivot-lang authors
          commit_email: 1769712655@qq.com

          # Custom dependencies in case other formulas are needed to build the current one.
          # Optional - multiline string.
          depends_on: |
            "llvm@14"
          # Custom install command for your formula.
          # Required - string.
          install: |
            lib.install Dir["./planglib"]
                lib.install "./libvm.a"
                bin.install "./plc"
          # Custom test command for your formula so you can run `brew test`.
          # Optional - string.
          # test: 'assert_match("my script output", shell_output("my-script-command"))'

          # Adds URL and checksum targets for different OS and architecture pairs. Using this option assumes 
          # a tar archive exists on your GitHub repo with the following URL pattern (this cannot be customized):
          # https://github.com/{GITHUB_OWNER}/{REPO_NAME}/releases/download/{TAG}/{REPO_NAME}-{VERSION}-{OPERATING_SYSTEM}-{ARCHITECTURE}.tar.gz'
          # Darwin AMD pre-existing path example: https://github.com/justintime50/myrepo/releases/download/v1.2.0/myrepo-1.2.0-darwin-amd64.tar.gz
          # Linux ARM pre-existing path example: https://github.com/justintime50/myrepo/releases/download/v1.2.0/myrepo-1.2.0-linux-arm64.tar.gz
          # Optional - booleans.
          # target_darwin_amd64: true
          target_darwin_arm64: true
          # target_linux_amd64: true
          # target_linux_arm64: false

          # Update your homebrew tap's README with a table of all projects in the tap.
          # This is done by pulling the information from all your formula.rb files - eg:
          #
          # | Project                                    | Description  | Install                  |
          # | ------------------------------------------ | ------------ | ------------------------ |
          # | [formula_1](https://github.com/user/repo1) | helpful text | `brew install formula_1` |
          # | [formula_2](https://github.com/user/repo2) | helpful text | `brew install formula_2` |
          # | [formula_3](https://github.com/user/repo3) | helpful text | `brew install formula_3` |
          #
          # Simply place the following in your README or wrap your project in these comment tags:
          # <!-- project_table_start -->
          # TABLE HERE
          # <!--project_table_end -->
          #
          # Finally, mark `update_readme_table` as `true` in your GitHub Action config and we'll do the work of building a custom table for you.
          # Default is `false` - boolean.
          update_readme_table: true

          # Skips committing the generated formula to a homebrew tap (useful for local testing).
          # Default is shown - boolean.
          skip_commit: false

          # Logs debugging info to console.
          # Default is shown - boolean.
          debug: true