name: test
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - "master"
      - "release/*"

jobs:
  container-test-job:
    runs-on: ubuntu-latest
    container:
      image: registry.cn-hangzhou.aliyuncs.com/pivotstudio/rust-pl:latest
      options: --security-opt seccomp=unconfined
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: auto test
        run: |
          export KAGARI_LIB_ROOT=$(pwd)/planglib
          cargo test --all
          bash -c 'for file in target/debug/deps/plc-*; do [ -x "$file" ] || continue; mkdir -p "target/cov/$(basename $file)"; /kcov-build/usr/local/bin/kcov --exclude-pattern=/.cargo,/usr/lib --verify "target/cov/$(basename $file)" "$file"; done'
          bash -c 'for file in target/debug/deps/vm-*; do [ -x "$file" ] || continue; mkdir -p "target/cov/$(basename $file)"; /kcov-build/usr/local/bin/kcov --exclude-pattern=/.cargo,/usr/lib --verify "target/cov/$(basename $file)" "$file"; done'
          ls target/cov/
      - uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODE_COV }} # not required for public repos
          name: codecov-umbrella # optional
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)